body {
    background-image: url("images/welcome/dark.jpg");
    background-color: black;
    background-size: 100%;
    background-repeat: no-repeat;
}
.welcome{
  color: white;
  font-size: 40px;
  text-align: center;
}
.Over{
  color: gray;
  font-size: 20px;
  text-align: left;
  text-decoration: underline;
}
.WHO{
  color: gray;
  font-size: 15px;
  text-align: left;
}
.hfeatures
{
  color: gray;
  font-size: 15px;
  text-align: left;
  text-decoration: underline;
}
.rfeatures{
  color: gray;
  font-size: 15px;
  text-align: left;
  text-indent: 50px;
}
#proceed_t{
  color:gray;
    background-color: black;
}
