<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="./stylesheets/pagestyle.css" rel="stylesheet" type="text/css">
    <% include ../partials/header.ejs %>
    <% include ../partials/nav-out.ejs %>
  </head>
  <body>
    <h1>List of users</h1>
    <div>
    <table class="hoverTable">
      <thead>
        <tr>
          <th>Username</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
       <% rows.forEach(function(r) { %>
          <tr>
            <td><%= r.username %></td>
            <td>
              <a class="btn btn-sm btn-success" href="/view-user/<%= r.id %>">View</a>
            </td>
          </tr>
      <% }); %>
      </tbody>
    </table>
    </div>
  </body>
</html>
