<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <h1>Hello user <%=user%> </h1>
    <a class="btn btn-sm btn-danger" href="/logout">Logout</a>
    <a class="btn btn-sm btn-success" href="./fileUpload">Upload an Avatar Image</a>
  </body>
</html>
