 
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <% include ../partials/header.ejs %>
    <% include ../partials/nav-out.ejs %>
    <link rel="stylesheet" href="/stylesheets/xterm.css" />
    <script src="./script/xterm.js"></script>

    <!-- <link rel="stylesheet" href="/public/stylesheets/mainPage.css"> -->
    <style type="text/css" media="screen">
      #editor { 
          position: absolute;
          height:600px;
          top: 2%;
          right: 2%;
          bottom: 2%;
          left: 2%;
          margin-top: 680px;
      }
    </style>
  </head>
  <body>
    <% if (user.role === 'admin') { %>
      <h1>You are in Administrator view</h1>
    <% }else { %>
      <h1>Hello user <%=user.username%> </h1>
    <% } %>
    <div id="editnav" class="container-fluid text-center">
      <div class="row">
        <a class="btn btn-sm btn-danger pull-left col-xs-2" href="/logout">Logout</a>
        <a class="btn btn-sm btn-success pull-left col-xs-2" href="./fileUpload">Upload an Avatar Image</a>
        <input class="btn btn-sm btn-warning pull-left col-xs-2" type="file" id="openbtn" onchange="openCode(this.files)" value="Open">
      </div>
      <!-- <input class="btn btn-sm btn-warning" type="button" id="downloadbtn" onclick="downloadHTML()" value="Download"> -->
    </div>

    <!-- Ace text-editor package: https://ace.c9.io/#nav=about -->
    <div id="editor" class="pull-left">function foo(items) {
        var x = "All this is syntax highlighted";
        return x;
    }</div>


    <!-- <form action="/saveEditorText" method="post">
      <div class="">
        <input id="saveEditorText" name="editorText" type="submit" value="">
      </div>
    </form> -->
      

    <!-- Theme CDNs for ACE text editor  -->
    <script src="https://ajaxorg.github.io/ace-builds/src/ace.js" type="text/javascript" charset="utf-8"></script>
        <script src="https://ajaxorg.github.io/ace-builds/src/ext-modelist.js" type="text/javascript" charset="utf-8"></script>
  <script src="https://pagecdn.io/lib/ace/1.4.12/ace.min.js" crossorigin="anonymous" integrity="sha256-T5QdmsCQO5z8tBAXMrCZ4f3RX8wVdiA0Fu17FGnU1vU=" ></script>
  
  <script src="https://pagecdn.io/lib/ace/1.4.12/theme-monokai.min.js" crossorigin="anonymous"  ></script>
  
  <script src="https://pagecdn.io/lib/ace/1.4.12/snippets/c_cpp.min.js" crossorigin="anonymous"  ></script>
  <script src="https://pagecdn.io/lib/ace/1.4.12/mode-c_cpp.min.js" crossorigin="anonymous"  ></script>

  <script src="https://pagecdn.io/lib/ace/1.4.12/worker-javascript.min.js" crossorigin="anonymous"  ></script>
  <script src="https://pagecdn.io/lib/ace/1.4.12/snippets/javascript.min.js" crossorigin="anonymous"  ></script>
  <script src="https://pagecdn.io/lib/ace/1.4.12/mode-javascript.min.js" crossorigin="anonymous"  ></script>  
  
  <!-- <script src="/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script> -->
  <script>
      var editor = ace.edit("editor", {
                theme: "ace/theme/monokai",
                mode: "ace/mode/javascript",
                placeholder: "choose file to edit"
            }); 
      function openCode(files) {
          var file = files[0];
          if (!file) return;
          var modelist = ace.require("ace/ext/modelist")
          var modeName = modelist.getModeForPath(file.name).mode 
          editor.session.setMode(modeName)
          reader = new FileReader();
          reader.onload = function() {
              editor.session.setValue(reader.result)
          }  
          reader.readAsText(file) 
      }
      //Store all ines of text from ace text editor in an array
      var myArray = editor.session.getDocument().$lines;
      
      //write code array to file...
      //const fs = require('fs');
  </script>




     <h3>Terminal</h3>
     <div id="terminal"></div>
     <div><h3>Text editor</h3></div>
     
     <script>
       var term = new Terminal({
         cursorBlink: "block"
       });
       const ws = new WebSocket(location.protocol.replace('https', 'wss') + '//' + location.hostname + (location.port ? (':' + 8080) : '') + '/');
       ws.onmessage = msg => {
         console.log(msg.data);
         var output = msg.data.split("\n")
         for (var x=0; x<output.length; x++ ){
           term.write(output[x]+"\r\n");
         }
         curr_line = "";
       };
       term.open(document.getElementById('terminal'));
       term.write('Hello from \x1B[1;3;31mBash From Anywhere\x1B[0m $ ')
       var curr_line="";
       term.onKey(function(evt) {
         //Enter
         if (evt.domEvent.which === 13) {
           if (curr_line) {
             term.write("\r\n");
             ws.send(curr_line);
             curr_line = "";
           }
         } else if (evt.domEvent.which === 8) {
           // Backspace
           if (curr_line) {
             curr_line = curr_line.slice(0, curr_line.length - 1);
             term.write("\b \b");
           }
         } else {
           curr_line += evt.key;
           term.write(evt.key);
         }
       });
 /*
       // paste value
       term.addEventListener('paste',data=>{
         curr_line += data;
         term.write(data);
       });
 */
     </script>
  </body>
</html>

