<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href="/logout">Logout</a>
    <h1>Hello User <%=user%> </h1>

    <form method="post" action="/fileUpload">
      <input type="submit" value="Upload an Avatar Image"/>
     </form>

  </body>
</html>
